:root {
  --background-color: #1f0e1c;
  --border-color: #584563;
  --block-color: #c0c741;
  --block-color2: #7ec4c1;
  --block-color3: #f5edba;
  --block-color4: #3e2137;
  --cell-size: 24px;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--background-color);
  overscroll-behavior: none;
}

.game {
  aspect-ratio: 0.5;
  height: 100%;
  display: flex;
  gap: 1rem;
  overflow: hidden;
  align-items: flex-start;
  padding: 1rem;
}

.hint.grid {
  max-width: 15%;
  gap: 0;
  padding: 0;
}

.hint .row {
  gap: 0;
}

.hint .type-1 {
  background-color: var(--border-color);
}

.grid {
  padding: 1px;
  display: inline-flex;
  flex: auto;
  gap: 1px;
  flex-direction: column;
  background-color: var(--border-color);
}

.grid.paused {
  filter: blur(5px);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.cell {
  flex-grow: 1;
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  /*width: var(--cell-size);
  height: var(--cell-size);*/
}

.type-0 {
  background-color: var(--background-color);
}

.type-1 {
  background-color: var(--block-color);
}

.type-2 {
  background-color: var(--block-color2);
  animation-name: blockfreeze;
  animation-duration: .5s;
}

.type-3 {
  background-color: var(--block-color4);
}

@keyframes blockfreeze {
  0%   {background-color: var(--block-color);}
  25%  {background-color: var(--block-color3);}
  50%  {background-color: var(--block-color);}
  100% {background-color: var(--block-color2);}
}

.help {
  position: absolute;
  bottom: 1rem;
  color: var(--block-color3)
}
